body{
  font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img.img-responsive{
  margin:auto;
}

nav.navbar.navbar-default{
  border-radius:0;
  border-left:none;
  border-right:none;
}

input.search{
  background: #1c1e22;
  color: #FFFFFF;
  border: 1px solid #0c0d0e;
}

i.glyphicon.glyphicon-pencil{
  margin:0px 5px;
}

i.glyphicon.glyphicon-trash{
  margin:0px 5px;
}

i{
  cursor:pointer;
}

input.form-control.search{
  margin-bottom:1em;
}

nav.pagination{
  margin:0px;
}

.summary-right {
  text-align: right;
}

.summary-spacing {
  margin-right: 20px;
}

.fa-refresh {
  margin-left: 10px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: middle; 
}